# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    usuarios.ultimos:
        class: PhotoAlbumBundle\Model\UltimosUsuarios
        arguments: ["@doctrine.orm.entity_manager"]
    usuarios.listener:
        class: PhotoAlbumBundle\Log\usuariosListener
        arguments: ["@monolog.logger"]
        tags:
            - { name: kernel.event_listener, event: usuarios.crear,method: registrarInsercion }
