{% extends "PhotoAlbumBundle:Default:index.html.twig" %}

{% block contenido %}
    {% if error %}
        <div style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div>Es posible que tengas que esperar a que tu usuario sea activado por un administrador</div>
    <br/>
    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">login</button>
    </form>
{% endblock %}
