{% extends "PhotoAlbumBundle:Default:index.html.twig" %}

{% block contenido %}
    <h2>Usuarios</h2>
    <strong>Últimos usuarios :</strong><br/><br/>
    {% for usuario in usuarios %}
        <a href="{{url('editarUsuario',{'id':usuario.id})}}">{{usuario.nombre}}</a> - id: {{usuario.id}}<br/>
    {% endfor %}
    <br/>
    <form action="{{url('crearUsuario')}}">
        <input type="submit" class="boton" value="Crear usuario" />
    </form>
{% endblock %}
