
/* 
    Created on : 22-dic-2015, 20:49:01
    Author     : Sergio
*/

html,body
{
    width: 100%;
    height: 95%;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif
}

#contenedor
{
    width: 100%;
    height: 100%;
}

#header
{
    height: 5%;
    border-bottom: 1px solid #000;
    font-size: 20px;
    padding: 20px;
    background: #AA3333;
    color:#fff;
}

#menu
{
    height: 4%;
    border-bottom: 1px solid #000;
    background: lightcoral;
    padding: 5px;
    color:#fff;
}

#menu a
{
    color:#fff;
    text-decoration: none;
}

#menu a:hover
{
    color:#fff;
    text-decoration: underline;
}

#contenido
{
    height: 80%;
    padding: 10px;
}

#footer
{
    height: 5%;
    border-top: 1px solid #000;
    background: #AA3333;
    color:#fff;
    padding: 10px;
}

.boton
{
    display: inline;
    padding: 2px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: khaki;
}

.boton:hover
{
    background-color: orange;
}

form label
{
    width: 200px;
}