PhotoAlbumBundle\Entity\foto:
    type: entity
    table: fotos
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        descripcion:
            type: string
            length: 255
        ruta:
            type: string
            length: 255
    manyToOne:
        album:
            targetEntity: album
            joinColumn:
                name: album_id
                referencedColumnName: id