PhotoAlbumBundle\Entity\usuario:
    type: entity
    table: usuarios
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        nombre:
            type: string
            length: 255
        password:
            type: string
            length: 255

            